/* All */

* {
  margin: 0;
  padding: 0;
  font-family: Krona One;
  box-sizing: bo;
}

body {
 background: #55C4D3;
}

/* Form Wrapper */

.form-wrapper {
  margin: 2%;
  border: 2px solid #55C4D3;
  border-radius: 10px;
  background: #F3EEEE;
}


/* Logo */ 

.text-container {
  text-align: center;
  margin: 50px 0 25px 0;
}

.logo {
  font-size: 25px;
  color: #55C4D3;
}

.color {
  color: #79797C;
}


/* Label */

.label {
  display: none;
}

/* Inputs */

.input-box {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #55C4D3;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background: #EFEFEF;
}

/* Button */

.button {
  background-color: #55C4D3;
  border-radius: 25px;
  cursor: pointer;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  width: 100%;
  color:#FFFFFF;
}

.button:hover{
  opacity: 0.9;
}

/* Tiny Letters */

.tiny-letters {
  font-size: 10px;
  color: #79797C;
  text-decoration: none;
  padding-left: 10px;
}


/* Tiny Letters Container */

.container-two {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.container {
  padding: 10%;
}
  
